<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-topic}" th:object="${topic}" method="post">
    <table>
        <tr>
            <td>Thread Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</td>
        </tr>
        <tr>
            <td>Select Category:</td>
            <td>

                <select th:field="*{category}">
                    <option th:each="category : ${categories}" th:value="${category.cateId}"
                            th:text="${category.cateName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td>Hash Tag:</td>
            <td><input type="text" th:field="*{hastags}"/></td>
            <!--           <td> <input th:text="${#strings.listJoin(topic.getHastags(), ', ')}"> </td>-->
        </tr>
        <tr>
            <td>Status:</td>
            <td>
                <select th:field="*{topicStatus}">
                    <option value="1" name="A">A</option>
                    <option value="2" name="B">B</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>

</form>

</body>
</html>