<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/views/layout :: head">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
    function addReply(){
    //lay du lieu
    let  commentId = $(".replyContent").attr("id")
    let content = $('#content').val();
    let ct = new Reply {content
    }
    // goi ajax
    $.ajax({
    headers: {
    'Accept': 'application/json',
    'Content-Type': 'application/json'
    },
    type: "POST",
    data: Json.stringify(ct)
    //tên API
    url: "/detail",
    //xử lý khi thành công
    success: successHandler
    });

    event.preventDefault();
    }
    function successHandler() {
            $.ajax({
                type: "GET",
                //tên API
                url: "/detail",
                //xử lý khi thành công
                success: function (data) {
                  let content = '';
                  for (let i = 0; i < data.length; i++) {
                      content += getReply(data[i]);
                  }
                  document.getElementById('replyList').innerHTML = content;
                }
            });
        }

        function getReply(reply) {
            return '<div class = "topic">
                        <div class="topic__head">
                           <div class="topic__avatar"><a href="#" class="avatar"><img src=${reply.user.avatar}" alt="avatar"></a>
                           </div>
                           <div class="topic__caption">
                              <div class="topic__name">
                                 <a href="#">${reply.user.username}</a>
                              </div>
                              <div class="topic__date">
                                 <i class="icon-Watch_Later">${reply.replyDate}</i>
                              </div>
                           </div>
                           </div>
                                <div class="topic__content">
                                    <div class="topic__text">
                                        <p>${reply.content}</p>
                                    </div>
                                    <div class="topic__footer">
                                        <div class="topic__footer-likes">
                                            <div>
                                                <a href="#"><i class="icon-Downvote"></i></a>
                                                <span>${reply.replyLike}</span>
                                            </div>
                                            <div>
                                                <a href="#"><i class="icon-Downvote"></i></a>
                                                <span>${reply.replyDislike}</span>
                                            </div>
                                        </div>
                                        <div class="topic__footer-share">
                                            <div data-visible="desktop">
                                                <a href="#"><i class="icon-Share_Topic"></i></a>
                                                <a href="#"><i class="icon-Flag_Topic"></i></a>
                                                <a href="#"><i class="icon-Bookmark"></i></a>
                                            </div>
                                            <button onclick="addReply()"><i class="icon-Reply_Fill"></i></button>
                                        </div>
                                    </div>
                                </div>
                           </div>
                        </div>
                      </div>'

        }


    </script>
</head>
<body>
<!-- HEADER -->
<header th:replace="/views/layout :: header">

</header>
<!-- MAIN -->
<main>
    <div class="container">
<!--        nav-->
        <div class="nav">
            <div class="nav__categories js-dropdown">
                <div class="nav__select">
                    <div class="btn-select" data-dropdown-btn="categories">All Categories</div>
                    <nav class="dropdown dropdown--design-01" data-dropdown-list="categories">
                        <ul class="dropdown__catalog row">
                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-f9bc64"></i>Hobbies</a></li>
                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-348aa7"></i>Social</a></li>
                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-4436f8"></i>Video</a></li>
                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-5dd39e"></i>Random</a></li>
                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-ff755a"></i>Arts</a></li>
                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-bce784"></i>Tech</a></li>
                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-83253f"></i>Gaming</a></li>
                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-c49bbb"></i>Science</a></li>
                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-3ebafa"></i>Exchange</a></li>
                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-c6b38e"></i>Pets</a></li>
                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-a7cdbd"></i>Entertainment</a>
                            </li>
                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-525252"></i>Education</a>
                            </li>
                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-777da7"></i>Q&amp;As</a></li>
                            <li class="col-xs-6"><a href="#" class="category"><i class="bg-368f8b"></i>Politics</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="nav__select">
                    <div class="btn-select" data-dropdown-btn="tags">Tags</div>
                    <div class="dropdown dropdown--design-01" data-dropdown-list="tags">
                        <div class="tags">
                            <a href="#" class="bg-4f80b0">gaming</a>
                            <a href="#" class="bg-424ee8">nature</a>
                            <a href="#" class="bg-36b7d7">entertainment</a>
                            <a href="#" class="bg-ef429e">selfie</a>
                            <a href="#" class="bg-7cc576">camera</a>
                            <a href="#" class="bg-3a3a17">username</a>
                            <a href="#" class="bg-6f7e9c">funny</a>
                            <a href="#" class="bg-f26522">photography</a>
                            <a href="#" class="bg-a3d39c">climbing</a>
                            <a href="#" class="bg-92278f">adventure</a>
                            <a href="#" class="bg-8781bd">dreams</a>
                            <a href="#" class="bg-f1ab32">life</a>
                            <a href="#" class="bg-3b96ca">reason</a>
                            <a href="#" class="bg-348aa7">social</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav__menu js-dropdown">
                <div class="nav__select">
                    <div class="btn-select" data-dropdown-btn="menu">Latest</div>
                    <div class="dropdown dropdown--design-01" data-dropdown-list="menu">
                        <ul class="dropdown__catalog">
                            <li><a href="#">Latest</a></li>
                            <li><a href="#">Unread</a></li>
                            <li><a href="#">Rising</a></li>
                            <li><a href="#">Most Liked</a></li>
                            <li><a href="#">Follow Feed</a></li>
                        </ul>
                    </div>
                </div>
                <ul>
                    <li class="active"><a href="#">Latest</a></li>
                    <li><a href="#">Unread</a></li>
                    <li><a href="#">Rising</a></li>
                    <li><a href="#">Most Liked</a></li>
                    <li><a href="#">Follow Feed</a></li>
                </ul>
            </div>
            <div class="nav__thread">
                <p>Thread Navigation:</p>
                <a href="#" class="nav__thread-btn nav__thread-btn--prev"><i class="icon-Arrow_Left"></i>Previous</a>
                <a href="#" class="nav__thread-btn nav__thread-btn--next">Next<i class="icon-Arrow_Right"></i></a>
            </div>
        </div>
<!--        topic-->
        <div class="topics" th:object="${topic}">
            <div class="topics__heading">
                <h2 class="topics__heading-title" th:text="${topic.title}"></h2>
                <div class="topics__heading-info">
                    <a href="#" class="category"><i class="bg-3ebafa"></i> Exchange</a>
                    <div class="tags">
                        <th:block th:each="hashtag : ${topic.hastags}">
                            <a href="#" class="bg-4f80b0" th:text="${hashtag.hastagName}"></a>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="topics__body">
                <div class="topics__content">
                    <div class="topic">
                        <div class="topic__head">
                            <div class="topic__avatar">
                                <a href="#" class="avatar"><img src="assert/fonts/icons/avatars/B.svg" alt="avatar"></a>
                            </div>
                            <div class="topic__caption">
                                <div class="topic__name">
                                    <a href="#" th:text="${topic.user.username}"></a>
                                </div>
                                <div class="topic__date"><i class="icon-Watch_Later" th:text="${topic.topicDate}"></i>
                                </div>
                            </div>
                        </div>
                        <div class="topic__content">
                            <div class="topic__text">
                                <p th:text="${topic.content}"></p>
                            </div>
                            <div class="topic__footer">
                                <div class="topic__footer-likes">
                                    <div>
                                        <a href="#"><i class="icon-Upvote"></i></a>
                                        <span></span>
                                    </div>
                                    <div>
                                        <a href="#"><i class="icon-Downvote"></i></a>
                                        <span th:text="${topic.topicDislike}"></span>
                                    </div>
                                    <div>
                                        <a href="#"><i class="icon-Favorite_Topic"></i></a>
                                        <span th:text="${topic.topicLike}"></span>
                                    </div>
                                </div>
                                <div class="topic__footer-share">
                                    <div data-visible="desktop">
                                        <a href="#"><i class="icon-Share_Topic"></i></a>
                                        <a href="#"><i class="icon-Flag_Topic"></i></a>
                                        <a href="#"><i class="icon-Bookmark"></i></a>
                                    </div>
                                    <div data-visible="mobile">
                                        <a href="#"><i class="icon-More_Options"></i></a>
                                    </div>
                                    <a href="#"><i class="icon-Reply_Fill"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                <!--  info-->
                    <div class="topic">
                        <div class="topic__content">
                            <div class="topic__info">
                                <div class="topic__info-section">
                                    <div>
                                        <span class="topic__info-title">Created</span>
                                        <div class="topic__info-avatar">
                                            <a href="#" class="avatar"><img src="assert/fonts/icons/avatars/B.svg"
                                                                            alt="avatar"></a>
                                            <span>13d</span>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="topic__info-title">Last reply</span>
                                        <div class="topic__info-avatar">
                                            <a href="#" class="avatar"><img src="assert/fonts/icons/avatars/A.svg"
                                                                            alt="avatar"></a>
                                            <span>4h</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="topic__info-section">
                                    <div>
                                        <span class="topic__info-title">Replies</span>
                                        <div class="topic__info-count">18</div>
                                    </div>
                                    <div>
                                        <span class="topic__info-title">Views</span>
                                        <div class="topic__info-count">205</div>
                                    </div>
                                    <div>
                                        <span class="topic__info-title">Users</span>
                                        <div class="topic__info-count">6</div>
                                    </div>
                                    <div>
                                        <span class="topic__info-title">Likes</span>
                                        <div class="topic__info-count">315</div>
                                    </div>
                                    <div>
                                        <span class="topic__info-title">Links</span>
                                        <div class="topic__info-count">7</div>
                                    </div>
                                </div>
                                <a href="#" class="topic__info-more"><i class="icon-Arrow_Down"></i></a>
                            </div>
                            <div class="topic__title">
                                <p>Frequent Posters</p>
                            </div>
                            <div class="topic__posters">
                                <a href="#" class="avatar"><img src="assert/fonts/icons/avatars/C.svg"
                                                                alt="avatar"><span>10</span></a>
                                <a href="#" class="avatar"><img src="assert/fonts/icons/avatars/U.svg"
                                                                alt="avatar"><span>5</span></a>
                                <a href="#" class="avatar"><img src="assert/fonts/icons/avatars/I.svg"
                                                                alt="avatar"><span>12</span></a>
                                <a href="#" class="avatar"><img src="assert/fonts/icons/avatars/K.svg" alt="avatar"></a>
                                <a href="#" class="avatar"><img src="assert/fonts/icons/avatars/N.svg" alt="avatar"></a>
                                <a href="#" class="avatar"><img src="assert/fonts/icons/avatars/T.svg" alt="avatar"></a>
                                <a href="#" class="avatar"><img src="assert/fonts/icons/avatars/K.svg" alt="avatar"></a>
                                <a href="#" class="avatar"><img src="assert/fonts/icons/avatars/L.svg" alt="avatar"></a>
                                <a href="#" class="avatar"><img src="assert/fonts/icons/avatars/R.svg" alt="avatar"></a>
                            </div>
                            <div class="topic__title">
                                <p>Popular Links</p>
                            </div>
                            <div class="topic__list">
                                <th:block>
                                    <ul th:each="t : ${topTopic}">
                                        <li><a href="@{/detail/__${t.topicId}__}"><span th:text="${t.title}"></span></a>
                                        </li>
                                    </ul>
                                </th:block>
                            </div>
                        </div>
                    </div>
                <!--  Reply-->
                    <div id="replyList">
                        <div class="topic">
                            <th:block>
                                <div th:each="reply:${replies}">
                                    <div class="topic__head">
                                        <div class="topic__avatar">
                                            <a href="#" class="avatar"><img th:src="@{${reply.user.avatar}}"
                                                                            alt="avatar"></a>
                                        </div>
                                        <div class="topic__caption">
                                            <div class="topic__name">
                                                <a href="#" th:text="${reply.user.username}"></a>
                                            </div>
                                            <div class="topic__date">
                                                <i class="icon-Watch_Later" th:text="${reply.replyDate}"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="topic__content">
                                        <div class="topic__text">
                                            <p th:text="${reply.content}"></p>
                                        </div>
                                        <div class="topic__footer">
                                            <div class="topic__footer-likes">
                                                <div>
                                                    <a href="#"><i class="icon-Downvote"></i></a>
                                                    <span th:text="${reply.replyLike}"></span>
                                                </div>
                                                <div>
                                                    <a href="#"><i class="icon-Downvote"></i></a>
                                                    <span th:text="${reply.replyDislike}"></span>
                                                </div>
                                            </div>
                                            <div class="topic__footer-share">
                                                <div data-visible="desktop">
                                                    <a href="#"><i class="icon-Share_Topic"></i></a>
                                                    <a href="#"><i class="icon-Flag_Topic"></i></a>
                                                    <a href="#"><i class="icon-Bookmark"></i></a>
                                                </div>
                                                <button onclick="addReply()"><i class="icon-Reply_Fill"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <!--                    <div class="topic topic&#45;&#45;comment">-->
                    <!--                        <div class="topic__head">-->
                    <!--                            <div class="topic__avatar">-->
                    <!--                                <a href="#" class="avatar"><img src="assert/fonts/icons/avatars/L.svg" alt="avatar"></a>-->
                    <!--                            </div>-->
                    <!--                            <div class="topic__caption">-->
                    <!--                                <div class="topic__name">-->
                    <!--                                    <a href="#">Larry</a>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                            <a href="#" class="topic__arrow topic__arrow&#45;&#45;up"><i class="icon-Arrow_Up"></i></a>-->
                    <!--                        </div>-->
                    <!--                        <div class="topic__content">-->
                    <!--                            <div class="topic__text">-->
                    <!--                                <p>Can you stop ADP, and create new option for author can create coupon code, Author-->
                    <!--                                    will give for their customer. It's better than now.</p>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </div>
            <div class="content">
                <form>
                    <p>Write comment</p>
                    <textarea name="" id="content" cols="30" rows="10"></textarea>
                    <input class="replyContent" type="submit" th:value="${topic.topicId}" onclick="addReply()">
                </form>
            </div>
        </div>
    </div>
    </div>
</main>

<!-- FOOTER -->
<footer th:replace="/views/layout :: footer">
</footer>

</body>
</html>